
.header {
border-style: hidden;
background-color: lightcoral;
box-sizing: content-box;
font-family: 'Times New Roman', Times, serif;

}


.list {
text-align:right;
text-size-adjust: 20px;



}


h2 {
text-align: center;
text-decoration:solid
}




h3 {
font-style: normal;
border-style: solid;   
border-color:aquamarine;
display: inline-block;
background-color: white;
border-radius: 10px;
border-width: 5px;
margin-top: 10px;
padding: 50px;
}