
.header {
border-style: hidden;
background-color: rgb(118, 150, 217);
box-sizing: content-box;
font-family: 'Times New Roman', Times, serif;

}


.list {
text-align:right;
text-size-adjust: 20px;



}


h2 {
text-align: center;
text-decoration:solid
}




h3 {
font-style: normal;
background-color: white;
text-align: end;
}


h1 {
text-align:left

}


.work {
columns: right ;
position: relative; left:600px;
border-style: solid;
display: inline-block; 
border-radius: 10px;
border-width: 5px;
margin-top: 10px ;
padding: 50px;

}



button {
float:right;
display:flex;
position: relative;
border-style: solid;
border-color: blue;
border-width: 80px;
padding:30px;

}





.Contact-me {
list-style-position: outside;

}


